
 h1 {
	font-size: 70px;
	font-family: 'Libre Barcode 39 Text', cursive;


	color: #333;
	/*text-shadow: #EEEE00 0 0 10px;
	-webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;*/
   /* -webkit-transform: rotate(-50deg);*/
    position: relative;
    bottom: 720px;
    /*right: 180px;*/
}

  @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px red; }
        to { text-shadow: 0 0 20px red; }
    }
 h2 {
	font-size: 30px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #333;
	position: relative;
	
	border: 1px solid #333;
	left: 0px;
	bottom: 750px;
	padding: 10px;
	width: 400px;
	/*text-shadow: #EEEE00 0 0 10px;*/
	/*-webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
*/
}
/* @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px red; }
        to { text-shadow: 0 0 20px red; }
    }*/



p {
	font-size: 30px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #333;
	position: relative;
	bottom: 200px;	
}



body {
	width: 720px;
	height: 1280px;
	/*background: whitesmoke;*/
	/*background-image: url("../img/back2.jpg");*/

}
.container {
	width: 670px;
	height: 1230px;
	margin-left: 20%;
    margin-top: 80%;
	
}



.container img {
	width: 670px;
	height: 500px;
}

.container a {
font-family: 'Fjalla One', sans-serif;
color: white;
background: #13294c;
text-decoration: none;
font-size: 50px;
padding: 10px 20px;
position: relative;
bottom: 170px;

}

.container a:hover {

color: #ce2563;
background: yellow;

}

/*end*/

